.die {
    display: grid;
    place-items: center;
    min-width: 4rem;
    aspect-ratio: 1/1;
    padding: .25em;
    font-size: 2rem;
    background-color: #ffffff;
    border-radius: 6.7px;
    box-shadow: 0 2px 2px  rgba(158, 158, 158, 0.568);
  }
  
  .isHeld {
    cursor: pointer;
    background-color: #59E391;
    transition: .35s ease;
  }